---
import {Integrations} from '@modules';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Integrations" 
  img="/ogs/pages/integrations.png"
  metaTitle="Integrations"
  metaUrl="https://stability.farm/integrations"
  metaDescription="Explore all integrations within Stability ecosystem."
>
    <div class="platform max-w-[1200px]">
        <Integrations client:only="react" />
    </div>
</Layout>
