---
import Layout from '@layouts/Layout.astro';
import {Contest} from "@modules"
const { contestId } = Astro.params;
---

<Layout title="Contest">
    <div class="max-w-[1200px]">
        <Contest contestId={contestId} client:only="react" />
    </div>
</Layout>