---
import {Network} from '@components/Platform/Network';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Network">
    <div class="platform max-w-[1200px]">
        <Network client:only="react" />
    </div>
</Layout>
