---
import {Chains} from '@modules';
import Layout from '@layouts/Layout.astro';
import {chains, getSupportedChainNames} from "@stabilitydao/stability";

const totalChains = Object.keys(chains).length;
const supported = getSupportedChainNames().length
const inDeployment = Object.keys(chains).filter(chainId => chains[chainId].status === 'AWAITING_DEPLOYMENT' || chains[chainId].status === 'CHAINLIB_DEVELOPMENT' || chains[chainId].status === 'AWAITING_DEVELOPER' || chains[chainId].status === 'AWAITING_ISSUE_CREATION').length
---

<Layout
  title="Chains"
  img="/chains.jpg"
  metaTitle="Blockchains known to Stability platform"
  metaUrl="https://stability.farm/chains"
  metaDescription={`Total chains: ${totalChains}. Supported: ${supported}. In development: ${inDeployment}.`}
>
    <div class="platform max-w-[1200px]">
        <Chains client:only="react" />
    </div>
</Layout>
