---
import CreateVaultComponent from '../components/CreateVault';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Create vault">
    <div class="what-to-build">
        <CreateVaultComponent client:only="react" />
    </div>
</Layout>

<style is:global>
    .what-to-build table td {
        padding: 0 20px;
    }
    .what-to-build table tbody tr:hover td {
        background-color: #2f1755;
    }
    .what-to-build {
        font-size: 1rem;
    }
</style>
