---
import Layout from '@layouts/Layout.astro';
import {Vaults} from "@components/Vaults"
---

<Layout title="Vaults">
  <Vaults client:load/>
  <>
  <br>
  <a href="/create-vault">
    <button class="bg-[#2c2f38] px-3 py-2 rounded-md mt-3 text-[18px]">
      Create vault
    </button>
  </a>
  </>
</Layout>
