---
import Layout from '../layouts/Layout.astro';
import  {Vaults}  from "../layouts/App"
---

<Layout title="Vaults">
  <Vaults client:load/>
	<br>
	<div>
		<a href="/create-vault"><button class="btn">Create vault</button></a>
	</div>
</Layout>

<style>
</style>