---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Vaults">
	<div>
		<span style="color: red;">vault table must be here</span>
	</div>
	<br>
	<br>
	<div>
		<a href="/create-vault"><button class="btn">Create vault</button></a>
	</div>
</Layout>

<style>
</style>
