---
import {Integrations} from '@modules';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Protocols">
    <div class="platform max-w-[1200px]">
        <Integrations client:only="react" />
    </div>
</Layout>
