---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Coming soon">
    <div class="max-w-[1200px]">
        <div class="text-center absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"> 
            <h1 class="soon__h1">Coming soon</h1>
            <h3 class="soon__h3">Powered by Sonic</h3>
        </div>
    </div>
</Layout>

<style is:global>
    .soon__h1 {
        font-size: 60px;
        margin-bottom: 12px;
    }
    .soon__h3 {
        font-size: 30px;
    }
</style>