---
import {Strategies} from '@modules';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Strategies">
    <div class="platform max-w-[1200px]">
        <Strategies client:only="react" />
    </div>
</Layout>
