---
import {Users} from '@modules';
import Layout from '@layouts/Layout.astro';
---


<Layout title="Users" 
  img="/ogs/users.png"
  metaTitle="Users"
  metaUrl="https://stability.farm/users"
  metaDescription="Track your rank, earnings, and participate in Stability yield contests. Stay updated on leaderboard positions and rewards."
>
    <div class="platform">
        <Users client:only="react" />
    </div>
</Layout>

<style is:global>
    .what-to-build table td {
        padding: 0 20px;
    }
    
</style>
