---
import {Factory} from '@modules';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Create vault">
    <div class="max-w-[1200px]">
        <Factory client:only="react" />
    </div>
</Layout>
