body.no-scroll {
  overflow: hidden;
}

.burger-menu {
  display: none;
  cursor: pointer;
  background: #1f0f50;
  border-radius: 16px;
  width: 40px;
  height: 40px;
}
.menu-nav {
  display: none;
}

@media screen and (max-width: 600px) {
  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .menu-nav {
    flex-direction: column;
    align-items: center;
    background-color: #1f0f50;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .menu-nav.active {
    display: flex;
  }

  .menu-nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 5px 0;
  }
}
