---
import Layout from '@layouts/Layout.astro';
import {Metavaults} from "@modules"
---

<Layout title="Metavaults">
  <div class="max-w-[1200px]">
    <Metavaults client:only="react"/>
  </div>
</Layout>