.toast {
  background-color: #111114;
  border: 1px solid #232429;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30vw;
  min-width: 250px;
  color: #fff;
  border-radius: 12px;
  overflow: hidden;
  opacity: 0;
  animation: fadeInOut 10000s linear forwards;
}
.capitalize-first::first-letter {
  text-transform: uppercase;
}

@keyframes fadeInOut {
  0%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.toast .progress {
  height: 5px;
  animation: progressBar 10s linear infinite;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
