.toast {
  @apply bg-button;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* opacity: 0; */
  /* animation: fadeInOut 10s linear forwards; */
}
.capitalize-first::first-letter {
  text-transform: uppercase;
}

@keyframes fadeInOut {
  0%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.toast .progress {
  height: 5px;
  /* animation: progressBar 10s linear infinite; */
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
