---
import App from "./App";
import {Header} from "@components/Header"
import { Footer } from "@components/Footer";

interface IProps {
	title: string;
}

const { title } = Astro.props as IProps;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Asset Management Platform" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content="/og.png" />
		<meta property="og:image:width" content="300" />
		<meta property="og:image:height" content="300" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Stability</title>
	</head>
	<body>
		<App client:only>
			<Header client:only/>
			<main>
				<slot />
			</main>
			<Footer client:only/>
		</App>
	</body>
</html>
<style is:global>
	html, body {
		height: 100%;
		margin: 0;
	}
	body {
		display: flex;
  		flex-direction: column;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	::selection {
		background-color: rgb(150, 99, 238);
	}
	* {
		outline: none;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #0C0C1C;
		background-size: 224px;
	}
	body {
		margin: 0;
	}
	header {
		color: aliceblue; 
		/* background-color: #23262d; */
		display: flex; 
		justify-content: space-between;
		align-items: center;
		height: 60px;
	}
	.title {
		display: flex;
		align-items: center;
		padding-bottom: 4px;
	}
	.title > a {
		color: #a995ff;
		/* font-family: "Manrope", sans-serif; */
  		font-optical-sizing: auto;
		letter-spacing: 0.1px;
		display: inline-flex;
		align-items: center;
		flex-wrap: nowrap;
		font-size: 20px;
		font-weight: bold;
		/* text-transform: uppercase; */
	}
	.title img {
		margin: auto 6px auto 10px;
		height: 32px;
	}
	.menu {
		display: flex;
		justify-content: center;
	}
	.menu-nav a {
		width: 100%;
	}
	@media screen and (max-width: 600px) {
		.menu {
			display: none;
		}
	}
	.menu > a {
		margin: 0;
		min-width: 90px;
		height: 60px;
		color: #fcf3f6;
		display: flex;
		align-self: center;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		font-size: 17px;
		border-bottom: 3px solid transparent;
		padding-top: 3px;
	}
	.menu > a.active {
		border-bottom: 3px solid #9b7ff7;
	}
	.menu > a:hover {
		background-color: #3e294c;
	}

	main {
		margin: 0 auto auto auto;
		padding: 1rem 0.5rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height:80vh;
	}
	@media (max-width: 500px) {
		main {
			max-width: 100%;
		}
	}
	h1 {
		font-size: 2rem;
		font-weight: 700;
		/* line-height: 1; */
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.dotted-underline {
		text-decoration:underline dotted;
		text-underline-position:under;
	}
	.btn {
		cursor: pointer;
		text-wrap: nowrap;
		min-width: 100px;
		height: 30px;
		color: white;
		background-color: #424658;
		display: inline-flex;
		margin: 10px;
		align-self: center;
		align-items: center;
		justify-content: center;
		text-decoration: none;
	}

	.create-btn {
		min-width: 50px;
		padding: 0 10px;
	}

	.btn-primary {
		height: 40px;
		padding: 0 30px;
		font-size: 1.2rem;
		font-weight: bold;
	}

	.overlay {
		left: 0;
		top: 0;
		display: flex;
		position: fixed;
		width: 100vw;
		height: 100vh;
		z-index: 100;
		background-color: rgba(0,0,0,0.5);
		justify-content: center;
		align-items: center;
	}

	.modal {
		display: flex;
		margin-right: 20px;
		flex-direction: column;
		background-color: #3d1d53;
		min-width: 300px;
		min-height: 100px;
		height: auto;
		z-index: 110;
		padding: 10px 30px;
		border-radius: 6px;
	}

	.modal-title {
		font-weight: bold;
		font-size: 1.5rem;
		display: flex;
		justify-content: center;

	}

	.build-form {
		display: flex;
		flex-direction: column;
	}

	.build-form > .group {
		width: 100%;
		display: flex;
	}

	.group-label {
		display: flex;
		min-width: 150px;
	}

	.build-form .action {
		margin-top: 40px;
		display: flex;
		justify-content: center;
	}
	.build-form .success {
		margin-top: 40px;
		margin-bottom: 20px;
		padding: 10px;
		display: flex;
		justify-content: center;
		color: greenyellow;
		background-color: green;
		font-size: 1.4rem;
		font-weight: bold;
	}
	.what-to-build .msg {
		/* max-width: 600px; */
		margin: 0 auto;
	}

	.what-to-build .rewarding-data .allowed-bb-row {
		display: flex;
		align-items: center;
		margin: 10px 0;
	}
	.what-to-build .rewarding-data .allowed-bb-row span:first-child {
		margin-right: 20px;
		display: flex;
		align-items: center;
	}

	.what-to-build .rewarding-data .allowed-bb-row span:first-child img {
		margin-right: 10px;
	}

	.token-logo {
		border-radius: 50%;
		width: 32px;
		height: 32px;
	}
	/* TOOLTIP */

	.tooltip {
    	position:relative;
	}

	.tooltip .visible__tooltip {
		width:250px;
		left:50%;
		top:-17px;
		transform:translate(-30%,-100%);
		padding:10px 20px;
		color:#ffffff;
		background-color:#26282f;
		font-size:14px;
		border-radius:8px;
		position:absolute;
		z-index:99999999;
		box-sizing:border-box;
		box-shadow:0 1px 8px rgba(0,0,0,0.5);
		display:none;
	}
	 .toLeft {
		top:230px !important;
		left:-140px !important;
	}
	.toLeftPlatform {
		top:70px !important;
		left:-140px !important;
	}
	.tooltip:hover .visible__tooltip {
		display:block;
	}
	.visible__tooltip:hover {
		display: none !important;
	}
	.tooltip .visible__tooltip i {
		position:absolute;
		top:99%;
		left:30%;
		margin-left:-15px;
		width:30px;
		height:15px;
		overflow:hidden;
	}
	.tooltip .visible__tooltip i::after {
		content:'';
		position:absolute;
		width:15px;
		height:15px;
		left:50%;
		transform:translate(-50%,-50%) rotate(45deg);
		background-color:#26282f;
	}
	.toLeft i::after {
  		display: none !important;
	}
	.toLeftPlatform i::after {
  		display: none !important;
	}
	.visible__tooltip:hover {
		display: none !important;
	}
	@media screen and (max-width:767px) {
		.tooltip:hover .visible__tooltip {
			display:none !important;
		}
	}
</style>
