.home-bg {
  background: linear-gradient(132deg, #000 37.8%, rgba(0, 0, 0, 0.55) 80.55%),
    #612ffb;
}
.responsive-font__h1 {
  font-size: calc(45px + 27 * ((100vw - 360px) / (1920 - 320)));
}
.responsive-font__p {
  font-size: calc(15px + 9 * ((100vw - 360px) / (1920 - 320)));
}
.responsive-font__nav {
  font-size: calc(16px + 9 * ((100vw - 360px) / (1920 - 320)));
}
.responsive-font__footer {
  font-size: calc(13px + 5 * ((100vw - 360px) / (1920 - 320)));
}
.responsive-font__sonic {
  font-size: calc(10px + 5 * ((100vw - 360px) / (1920 - 320)));
}
body {
  margin: 0;
}

main {
  margin: 0 auto;
  padding: 1rem 0.5rem;
  max-width: calc(100% - 2rem);
}
footer {
  margin: 0 auto;
  padding: 3rem 0.5rem;
  max-width: calc(100% - 2rem);
}
@media (max-width: 500px) {
  main {
    max-width: 100%;
  }
  footer {
    max-width: 100%;
  }
}

/* Header */
body.no-scroll {
  overflow: hidden;
}
.home-menu {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.home-menu > a {
  margin: 0;
  min-width: 90px;
  height: 40px;
  color: #fcf3f6;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 16px;
}

.home-burger-menu {
  display: none;
  cursor: pointer;
  background: #1f0f50;
  border-radius: 12px;
  width: 32px;
  height: 32px;
}
.home-menu-nav {
  display: none;
}

@media screen and (max-width: 767px) {
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .home-menu-nav {
    flex-direction: column;
    align-items: center;
    background-color: #1f0f50;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 15px;
    width: 30vw;
    z-index: 100;
    border-radius: 24px;
  }
  .home-menu-nav.active {
    display: flex;
  }

  .home-menu-nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    /* margin: 5px 0; */
  }
  .home-menu {
    display: none;
  }
}
