.home-bg {
  background: linear-gradient(132deg, #000 37.8%, rgba(0, 0, 0, 0.55) 80.55%),
    #612ffb;
}
.responsive-font__h1 {
  font-size: calc(45px + 27 * ((100vw - 320px) / (1920 - 320)));
}
.responsive-font__p {
  font-size: calc(16px + 17 * ((100vw - 320px) / (1920 - 320)));
}
.responsive-font__nav {
  font-size: calc(16px + 9 * ((100vw - 320px) / (1920 - 320)));
}
.responsive-font__footer {
  font-size: calc(16px + 11 * ((100vw - 320px) / (1920 - 320)));
}
.responsive-font__sonic {
  font-size: calc(13px + 14 * ((100vw - 320px) / (1920 - 320)));
}
